extends ../shared/template
block content
  h2 Home
  .panel.panel-default
    .panel-body
        h5 Welcome to the Google Map API Treasure Map!
        h5 Head on over to 'Add Treasure' to begin your hunt.

block scripts
  script(src='/js/user/home.js')

